.preview-container {
  border-bottom: 2px solid @accent;
  padding: 4px;
}

window {
  background: alpha(@background, var(--bg-opacity));
  border: 4px solid @accent;
  border-radius: 18px;
  color: @accent; 
}

.preview {
  border: 4px solid @accent;
  border-radius: 12px;
  margin: 16px 16px 16px 16px;
}

.thumb-row {
  margin: 16px 16px 16px 16px;
}

.thumb {
  border: 4px solid @secondary;
  border-radius: 12px;
  
}

.thumb-active {
  border: 4px solid @accent;
  border-radius: 12px;
}
